{% set page_title = "ヘルプ" %}
{% set page_description = "LAMP Controllerのヘルプページです。" %}

{#レイアウト継承#}
{% extends "layout/layout.twig" %}

{# スタイルシートの追加 #}
{% block header_scripts_add %}
{% endblock %}

{# ページ本文 #}
{% block page_content %}
<div class="container">

    <div class="row">
        <div class="col bg-danger text-center text-white"><h2>ヘルプ</h2></div>
    </div>

    <div class="row my-3"><div class="col">
        <h3>目次</h3>
        <ul>
            <li><a href="#content1">１，このサイトについて</a></li>
            <li><a href="#content2">２，LAMPについて</a></li>
            <li><a href="#content3">３，共通の機能</a></li>
            <li><a href="#content4">４，ログインとユーザー登録</a></li>
            <li><a href="#content5">５，コントローラ（基本の操作ページ）</a></li>
            <li><a href="#content6">６，ファイル一覧</a></li>
            <li><a href="#content7">７，マイページ（設定ページ）</a></li>
            <li><a href="#content8">８，アカウント設定（アカウントとゲストの管理）</a></li>
        </ul>
    </div></div>
    
    <div class="row my-3"><div class="col">
        <h3 id="content1">１，このサイトについて</h3>
        <p>　LAMP Controllerは、音声ファイル再生ソフトのLAMPを、ブラウザ上から操作するためのサイトです。LAMPは、Windows向けのソフトですが、手元のスマートフォンなどをLAMPのリモコンとして利用できるようになります。</p>
        <p>再生操作はもちろん、あらかじめアップロードしておいたファイル情報を用いて、ファイルやフォルダを指定した再生も可能です。また、複数のLAMPを登録し、切り替えながら操作することもできます。</p>
        <p>ゲスト管理を利用すれば、来客者に自身のLAMPを操作させることができます。通常、当サイトの利用にはユーザー登録が必要ですが、ゲスト向けには操作するLAMPを指定して専用URLを発行できます。これにより、ゲストのユーザー登録は不要です。</p>
        <br>

        <h3 id="content2">２，LAMPについて</h3>
        <p>　LAMPは、Light and Accessible Music Playerの略です。その名の通り、動作が軽量で、かつ、アクセシビリティに配慮された音声ファイル再生ソフトです。</p>
        <p>通常のメディアプレイヤーと異なり、ライブラリを持たないため、軽快に動作します。また、アクセシビリティへの対応として、シンプルで見やすい画面構成、白黒反転表示機能などを搭載しています。もちろん、スクリーンリーダーによる読み上げにも配慮されています。</p>
        <p>LAMPについての詳しい情報は、以下をご確認ください。</p>
        <p><a href="https://actlab.org/software/lamp">https://actlab.org/software/lamp</a></p>
        <p>当サイトでのユーザー登録の後、LAMP側での設定も必要です。機能メニューのLAMP Controller設定を開き、登録を行ってください。</p>
        <br>

        <h3 id="content3">３，共通の機能</h3>
        <p>　当サイトでは、どのページからも操作できる項目があります。</p>
        <p>最上部には、サイト名である「LAMP Controller」の表示があり、これをクリックすると、トップページに遷移します。パソコンやタブレットなどでは、サイト名表示の右側に「ログイン」ボタン、または「ログアウト」ボタンが表示されます。</p>
        <p>サイト名の下には、メニューが表示されています。スマートフォンなどでは、サイト名表示の左側をタップすると、メニューが展開されます。内容は、以下の通りです。</p>
        <ul>
            <li>ユーザー登録：　ログインされていないときに表示されます。当サイトのアカウントを作成します。</li>
            <li>コントローラ：　LAMPの操作と、再生中の曲情報表示などが行える、基本的な画面です。ゲストも含め、ログインされているときに表示されます。</li>
            <li>ファイル一覧：　LAMPからあらかじめ登録しておいたフォルダとファイルを表示します。LAMPの操作も可能です。ゲストも含め、ログインされているときに表示されます。</li>
            <li>マイページ：　各種設定を行います。一部のアカウントの設定の変更、およびゲスト管理を行うには、パスワード入力が必要です。このメニューはログイン中にのみ表示され、ゲストにも表示されません。</li>
            <li>ログイン、またはログアウト：　スマートフォンなどでサイトを表示した場合、ログインとログアウトはここから行います。</li>
        </ul>
        <br>

        <h3 id="content4">４，ログインとユーザー登録</h3>
        <p>　ログインとログアウトは、ページ上部の「ログイン」ボタン、または「ログアウト」ボタンから行います。スマートフォンなどで、ボタンが表示されていない場合は、サイト名左側のボタンでメニューを展開し、ログイン、またはログアウトメニューを選択します。</p>
        <p>ユーザー登録を行うには、ログインされていない状態でメニューからユーザー登録を選択し、ユーザー登録ページを表示します。以下の情報が必要です。</p>
        <ul>
            <li>ユーザー名：　ログイン認証に使用します。6～30文字で指定します。英小文字、数字、記号（._-）が使用できます。</li>
            <li>パスワード：　ログイン認証に使用します。8文字以上30文字以内で指定します。英数字、記号（.,_-()[]）が使用できます。大文字、小文字は区別されます。</li>
            <li>パスワードの確認：　パスワードの確認のため、再入力します。パスワードとパスワードの確認は、一致している必要があります。</li>
            <li>表示名：　画面上に表示される名前です。30文字以内で指定します。日本語も使用できます。</li>
        </ul>
        <br>

        <h3 id="content5">５，コントローラ（基本的な操作ページ）</h3>
        <p>　このページのコンテンツは、LAMPの操作を行う操作部、ファイル情報などを表示する情報表示部の順に並んでいます。</p>
        <p>操作部上部には，LAMPの現在の状況を表示するバーがあります。LAMPが接続されていない、あるいは操作対象のLAMPが設定されていないなど、コントローラがLAMPと通信できない場合は、「未接続」と表示されます。</p>
        <p>状況表示バーの下には、操作対象のLAMPを設定するコンボボックスと、設定反映のための「切替」ボタンがあります。ページ読み込み時は、現在の設定が自動で選択されています。この表示が「LAMPを選択」となっている場合は、捜査対象のLAMPが設定されていません。目的のLAMPを選択し、「切替」ボタンを押してください。</p>
        <p>この下にある各種ボタンを押すと、LAMPを操作できます。「リピート/ループ」ボタンは、押すごとにリピート→ループ→オフの順に変化します。「シャッフル」ボタンは、押すごとにオンとオフが切り替わります。リピート/ループとシャッフルの状況は、「リピート/ループ」「シャッフル」ボタンの下に表示されます。なお、音量の「DOWN」、「UP」ボタンには、スクリーンリーダー向けに「音量を下げる」、「音量を上げる」のaria-labelが設定されています。</p>
        <p>「ファイル一覧へ」を選択すると、ファイル一覧に遷移します。これは、メニューからファイル一覧を表示するのと同じです。</p>
        <p>情報表示部には、再生中のファイルの情報が表示されます。</p>
        <p>各種状況表示、情報表示は、数秒ごとに更新されます。また、コントローラが30秒以上LAMPと通信できなかった場合は、未接続状態となります。</p>

        <h3 id="content6">６，ファイル一覧</h3>
        <p>　このページのコンテンツは、スマートフォンなどの画面やスクリーンリーダー上ではファイル表示部、LAMP操作部の順位並んでいます。パソコンなどの画面上では、左側に操作部、右側にファイル表示部があります。</p>
        <p>ファイル表示部では、あらかじめLAMPから登録してあるフォルダ、ファイルを参照できます。通常のファイラと同様、各フォルダを選択すると、内部のフォルダとファイルを参照できます。</p>
        <p>ファイル表示部の上部には、ファイルパス表示と、「ここから先をプレイリストに追加」ボタンがあります。ファイルパスのそれぞれのフォルダ名を選択すると、その階層にジャンプできます。また、「ここから先をプレイリストに追加」を選択すると、現在表示しているフォルダと、そのサブフォルダに格納されているすべてのファイルを、LAMPのプレイリストに追加します。</p>
        <p>操作部については、<a href="#content5">５，コントローラ</a>を参照してください。なお、操作部下部の「コントローラへ」を選択すると、コントローラページに遷移します。これは、メニューからコントローラを開くのと同じです。</p>
        <br>

        <h3 id="content7">７，マイページ（設定ページ）</h3>
        <p>　このページでは、各設定項目ごとに、設定内容と反映のためのボタンが並んでいます。各項目を設定し、その項目内のボタンで設定を反映します。結果は、ページタイトル「マイページ」の下に表示されます。</p>
        <p>以下の内容が設定できます。</p>
        <ul>
            <li>操作対象のLAMPを選択：　コンボボックスで操作したいLAMPを選択し、「選択」ボタンで確定します。</li>
            <li>LAMPの管理：　コンボボックスで管理対象のLAMPを選択し、必要があれば、そのLAMPの新しい名前をテキストボックスに入力します。その後、名前の変更か登録解除のどちらかをラジオボタンで選択し、「実行」ボタンで確定します。</li>
            <li>フォルダの登録解除：　コントローラに登録されているフォルダ情報を削除します。削除したいフォルダをコンボボックスで選択し、「解除」ボタンで確定します。LAMP上で「このLAMPから削除」を実行しても、フォルダ情報はコントローラに保持されます。このフォルダ情報が、ご自身の管理するすべてのLAMPで不要となった場合は、こちらから登録の解除を行ってください。</li>
            <li>アカウント情報設定：　パスワードの変更やゲスト管理など、アカウントに関する重要な設定を行います。現在のパスワードを入力し、「設定」ボタンでアカウント設定に入ります。詳しくは、<a href="#content8">８，アカウント設定</a>を参照してください。</li>
            <br>
        </ul>
        
        <h3 id="content8">８，アカウント設定（アカウントとゲストの管理）</h3>
        <p>　このページでは、アカウントに関する重要な設定と、ゲストの管理を行います。操作方法は<a href="#content7">７，マイページ</a>と同様です。各項目ごとに、内容と反映用ボタンがあります。結果は、ページタイトル「アカウント設定」の下に表示されます。</p>
        <p>以下のことができます。</p>
        <ul>
            <li>表示名の変更：　アカウントの表示名を変更します。</li>
            <li>ゲストURLの発行：　操作させたいLAMPとゲスト管理名を指定して、専用のゲストURLを発行します。</li>
            <li>ゲストURLの管理：　発行済みゲストURLの確認と削除ができます。</li>
            <li>パスワードの変更：　ログイン認証に使用するパスワードを変更します。パスワードを変更すると、すべてのブラウザでコントローラからログアウトされ、ゲストURLも失効します。また、LAMPの登録も、一度すべて解除されます。</li>
            <li>アカウントの削除：　LAMP Controllerのアカウントを削除します。アカウントに関するすべての情報は、コントローラから削除されます。誤操作防止のため、削除にはユーザー名とパスワードを入力し、チェックボックスのチェックが必要になっています。</li>
        </ul>
    </div></div>


</div>
{% endblock %}

{# フッダ以降に追加する内容 #}
{% block footer_scripts_add %}
{% endblock %}
