{% set page_title = "ユーザー登録" %}
{% set page_description = "LAMP Controllerのユーザー登録を行います。" %}

{#レイアウト継承#}
{% extends "layout/layout.twig" %}

{# スタイルシートの追加 #}
{% block header_scripts_add %}
{% endblock %}

{# ページ本文 #}
{% block page_content %}

    <div class="jumbotron text-center">
        <h2>ユーザー登録</h2>
    </div>

    <div class="h3 text-center">
        <h3>以下のフォームに必要事項を入力し、登録ボタンを押してください。</h3>
    </div>
    
    {% if errorMessage!=null and errorMessage!="" %}
        <div class="alert-danger p-3">{{ errorMessage | nl2br}}</div>
	{% endif %}


    <form method="post" autocomplete="off">
        <div class="container py-5">
            <div class="row mb-3">
                <label class="col-3" for="form_userName"> ユーザー名</label>
                <input class ="col-9" id="form_userName" type="text" name="userName" value="{{ userName }}" required>
            </div>
            <div class="row mb-3">
                <label class="col-3" for="form_password">パスワード</label>
                <input class="col-9" id="form_password" type="password" name="password" required>
            </div>
            <div class="row mb-3">
                <label class="col-3" for="confirmPaswword">パスワードの確認</label>
                <input class="col-9" id="form_confirmPassword" type="password" aria-label="パスワードの確認" name="confirmPassword" required>
            </div>
            <div class="row mb-3">
                <label class="col-3" for="form_displayName">表示名</label>
                <input class="col-9" id="form_displayName" type="text" name="displayName" value="{{ displayName }}" required>
            </div>
        </div>
        <div class="text-center">
            <p>上記内容で、ユーザー登録を行います。</p>
            <input type="submit" class="btn btn-success" value="登録">
        </div>
    </form>

{% endblock %}

{# フッダ以降に追加する内容 #}
{% block footer_scripts_add %}
{% endblock %}
